/**
 * Typography
 */

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 7rem;
}

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-weight: 600;
}


html,
button,
input,
select,
textarea {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    outline: 0;
  }

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    outline: 0;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

.br {
  display: block;
}

p {
  font-size: 1.6rem;
}