/**
 * Typography
 */

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 16px;
  line-height: 1.5;

}

h1,
h2,
h3 {
  font-family: 25px;
  font-weight: 600;
}


html,
button,
input,
select,
textarea {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;

  &:visited {
  outline: 0;
  }

  &:focus,
  &:active,
  &:hover {
  text-decoration: underline;
  outline: 0;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

.br {
  display: block;
}

p {
  font-size: 16px;
}