@use "../abstracts" as *;

::placeholder{
	font-family: 'Poppins', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	color: $gray-500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance: textfield; /* Firefox */
}

.form{
	width: 100%;
	background: $white;
	padding: 2rem;
	&__group{
		margin-bottom: 1.5rem;
	}
	&__control{
		font-family: 'Poppins', sans-serif;
		width: 100%;
		border: none;
		border-bottom: 0.1rem solid $gray-200;
		outline: none;
		padding: 1.5rem 0;
		font-size: 1.4rem;
		font-weight: 500;
		color: $gray-800;
	}
}